{% extends 'base.html' %}

{% block title %}Admin Login{% endblock %}

{% block content %}

<div class="main">
    <p class="sign" align="center">Admin Login Form</p>

        <form action="" method="POST" class="form1">
            {% csrf_token %}
            <p class="forgot" align="center">{{form.username.label}}</p>
            <p align="center">{{form.username}}</p>
            <p class="forgot" align="center">{{form.password.label}}</p>
            <p align="center">{{form.password}}</p>

            <button class="submit_log_admin" align="center">Login as a Admin</button>
            {% if error %}
            <li style="color: red;" align="center">{{error}}</li>
            {% endif %}
        </form>
</div>
<br>
<br>
<br>
<br>
{% endblock %}
