{% extends 'base.html' %}

{% block title %}Store Series{% endblock %}

{% block content %}
<div class="container">
    <section id="featured" class="my-5 py-5">
        <div class="container text-center col-lg-3 col-md-4 col-12">
            <h2 >Welcome to the only Brand store.</h2>
            <hr class="mx-auto mb-5">
        </div>

        <div class="row mt-4 mx-auto container">
            {% for p in product_list %}
            <div class="product text-center col-lg-3 col-md-4 col-12">
                <img src="{{p.image.url}}"  alt="" class="img-fluid mb-3" style="height: 300px; object-fit: contain;">
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h5><a class="p-name" href="{% url 'main:productdetail' p.slug %}">{{p.title}}</a></h5>
                <h4 class="p-price">Price: {{p.selling_price}} .$</h4>
                <button class="buy-btn"><a href="{% url 'main:addtocart' p.id %}">Buy Now</a></button>
            </div>
            {% endfor %}
        </div>

    </section>

    <br>
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            {% if product_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ product_list.previous_page_number }}">Previous</a>
              </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% endif %}

            {% for i in product_list.paginator.page_range %}
            {% if i == product_list.number %}
            <li class="page-item active"><a class="page-link">{{i}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}

            {% if product_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ product_list.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% endif %}
        </ul>
      </nav>
</div>
<br>

{% endblock %}


