{% extends 'base.html' %}

{% block title %} All Products {% endblock %}

{% block content %}
<div class="container">
     <section id="featured" class="my-5 py-5">
        <div class="container text-center col-lg-3 col-md-4 col-12">
            <h2 >Products in categories</h2>
        </div>
    {% for cat in allcategories %}
    <h3 id="catego">{{cat.title}}</h3>
    <br>
     <br>
    <div class="row mt-4 mx-auto container">
        {% for p in cat.product_set.all %}

            <div class="product text-center col-lg-3 col-md-4 col-12">
                <a href="{% url 'main:productdetail' p.slug %}">
                <img src="{{p.image.url}}"  alt="" class="img-fluid mb-3" style="height: 300px; object-fit: contain;">
                </a>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h5><a class="p-name" href="{% url 'main:productdetail' p.slug %}">{{p.title}}</a></h5>
                <h4 class="p-price">Price: {{p.selling_price}} .$</h4>
                <button class="buy-btn"><a href="{% url 'main:addtocart' p.id %}">Buy Now</a></button>
            </div>

        {% endfor %}
    </div>
         </section>
    {% endfor %}
</div>
{% endblock %}