{% extends 'base.html' %}

{% block title %}Customer Registration{% endblock %}

{% block content %}




<div class="main_reg">
    <p class="sign" align="center">Registration</p>

        <form action="" method="POST" class="form1">
            {% csrf_token %}
            <p class="forgot" align="center">{{form.username.label}}</p>
            <p align="center">{{form.username}}</p>
            <p class="forgot" align="center">{{form.password.label}}</p>
            <p align="center">{{form.password}}</p>
            <p class="forgot" align="center">{{form.email.label}}</p>
            <p align="center">{{form.email}}</p>
            <p class="forgot" align="center">{{form.full_name.label}}</p>
            <p align="center">{{form.full_name}}</p>
            <p class="forgot" align="center">{{form.address.label}}</p>
            <p align="center">{{form.address}}</p>

            <button class="submit" align="center">Register</button>
            <p class="forgot" align="center">Already have an account? <a href="{% url 'main:customerlogin' %}">Log in</a></p>

            {% if error %}
            <li style="color: red;" align="center">{{error}}</li>
            {% endif %}
        </form>

</div>
<br>
<br>
<br>
{% endblock %}
