{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block content %}


<div class="main_fog">
    <p class="sign_1" align="center"></p>
        {% if request.GET.m == "s" %}
            <h3 align="center">Password reset link is sent to your email address. Please check your email immediately. </h3>
            {% else %}
            <h3 align="center">Enter your email used in making customer account to get password reset link</h3>
            {% if request.GET.m == "e" %}
            <h4 align="center">Something went wrong, please enter your email again.</h4>
            {% endif %}
        <form action="" method="POST" class="form1">
            {% csrf_token %}
            <p class="forgot" align="center">{{form.email.label}}</p>
            <p align="center">{{form.email}}</p>
            <button class="submit_1" align="center"> Get Reset Link</button>
        </form>
        {% endif %}
</div>

{% endblock %}
