{% extends 'base.html' %}
{% load static %}
{% block title %}Store Series{% endblock %}

{% block content %}
<main>
<div class="container-fluid p-0">
    <div class="site-slider">
        <div class="slider-one">
        <div>
            <img src="../static/assets/image-3.jpeg" class="img-fluid" alt="Banner-1">
        </div>
        <div>
            <img src="../static/assets/image-1.jpg" class="img-fluid" alt="Banner-2">
        </div>
        <div>
            <img src="../static/assets/image-2.jpg" class="img-fluid" alt="Banner-3">
        </div>
        </div>
        <div class="slider-btn">
        </div>
    </div>
</div>


<section class="gallery">
    <h2 class="title">Welcome to our store</h2>
    <div class="gallery-list">
      <a href="{% url 'main:all' %}" class="gallery-item">
        <div class="gallery-item-hover">New sneakers every day</div>
        <img src="../static/assets/menu/1.jpg" alt="">
      </a>
      <a href="{% url 'main:all' %}" class="gallery-item">
        <div class="gallery-item-hover">Best quality</div>
        <img src="../static/assets/menu/2.jpg" alt="">
      </a>
      <a href="{% url 'main:all' %}" class="gallery-item">
        <div class="gallery-item-hover">Premium brands</div>
        <img src="../static/assets/menu/3.jpg" alt="">
      </a>
    </div>
</section>
 <div class="about" id="about">
        <h3>Why choose us?</h3>
        <p>
            Store series is an online shop with clothes, shoes and accessories from well-known international brands.
            We always aim to offer cool unique and trendy brands and collections from best brands.
            We can promise to our clients fast delivery of 1-3 working days and best personalized customer service.
            Our vision is to become preferred choice for all lifestyle and fashion online shoppers.
        </p>
        <div class="btn"><a href="{% url 'main:about' %}">Show more</a> </div>
 </div>







</main>
{% endblock %}
