{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}


<div class="main_fog">
    <p class="sign_1" align="center"></p>
        <form action="" method="POST" class="form1">
            {% csrf_token %}
            <p class="forgot" align="center">{{form.new_password.label}}</p>
            <p align="center">{{form.new_password}}</p>
            <p class="forgot" align="center">{{form.confirm_new_password.label}}</p>
            <p align="center">{{form.confirm_new_password}}</p>
            <button class="submit_1" align="center">Reset password</button>
        </form>
</div>
{% endblock %}
