{% extends 'base.html' %}

{% block title %}Search {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="search_title">Search Results for <span>"{{request.GET.keyword}}"</span></h2>
            <br>
            {% for result in results %}
            <div class="row">
                <div class="col-md-3">
                    <img src="{{result.image.url}}" class="img-fluid" alt="">
                </div>
                <div class="col-md-9">
                    <h4><a class="title_text" href="{% url 'main:productdetail' result.slug %}">{{result.title}}</a></h4>
                    <span id="detail_4">{{result.description|truncatewords:50}}</span>

                    <p class="detail_3 mt-2 mb-4">Return Policy: <span> {{result.return_policy}}</span></p>
                    <button class="add_button"><a href="{% url 'main:addtocart' result.id %}">Add To Cart</a></button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
